.footer {
    background-color: rgb(244, 231, 238);
}

.footer .social-ntwk {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.footer .social {
    color: rgb(252, 146, 209);
    padding: 10px 15px;
    background-color: rgb(244, 231, 238);
    border: 2px solid rgb(252, 146, 209);
    border-radius: 15px;
}

.footer .social:hover {
    color: #fff;
    background-color: rgb(252, 146, 209);
    transition: 500ms;
}

.footer .payment-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .payment-logos img {
    max-width: 10vh;
    margin: 1vh;
}

.politica a:hover {
    color: #fff;
    transition: 0.15s;
}

.politica a {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer .payment-logos img {
        max-width: 7vh;
    }
}