@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300&family=Raleway:wght@300&display=swap');

.navbar-custom {
  font-family: 'Poppins', sans-serif;
 
  font-weight: 800;
  background-color: #fff;
  align-items: left;
}

.navbar-custom .navbar-text,
.navbar-custom .navbar-nav a {
  color: #000;
  font-size: large;
  margin-left: 5vh;
  text-decoration: none;
  align-items: right;
}

.navbar-custom .navbar-nav a {
  position: relative;
  padding-bottom: 5px;
}

.navbar-custom  a:hover {
  transition: 0.2s;
  color: #FB75C7;
}

.navbar-custom  a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(to right, #FB75C7, #FB75C7, #FB75C7);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.navbar-custom  a:hover::before {
  transform-origin: center;
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94); 
}

