.destacado {
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.destacado .btn-custom {
  color: #fff;
  background-color: rgb(252, 146, 209);
  border-color: rgb(252, 146, 209);
}

.destacado .btn-custom:hover {
  background-color: rgb(227, 109, 178);
  border-color: rgb(227, 109, 178);
}

.titulo-destacado {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}

.titulo-destacado .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.envio {
  padding-top: 7vh;
  padding-bottom: 5vh;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
}

.envio p {
  margin: 0;
  font-weight: bold;
}

.envio .hov:hover {
  color: rgb(227, 109, 178);
  transition: 0.15s;
}

.espacio {
  padding-top: 7vh;
}

.item {
  position: relative;
  text-align: center;
}

.img-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.img-fluid {
  max-width: 50vw;
  height: auto;
  transition: transform 0.3s ease;
}


.img-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 146, 209, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(8deg, rgba(255, 255, 255, 0.7) 70%, transparent 75%);
}


.img-container:hover:before {
  opacity: 1;
}

.img-container:hover .boton-container {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.img-container:hover .nombre {
  color: rgb(210, 100, 160);
  transition: 0.3s;
}

.nombre {
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -55%);
  color: #000;
}

.nombre p {
  margin: 0;
}

.boton-container {
  display: flex;
  opacity: 0;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boton {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.boton svg {
  color: #fff;
  cursor: pointer;
}

.boton svg:hover {
  color: rgb(252, 146, 209);
  cursor: pointer;
}

.destacado a {
  text-decoration: none;
}

.nombre p {
  font-size: 0.8rem !important;
}

.custom-carousel {
  width: 100%;
  max-height: 830px;
  overflow: hidden;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: linear-gradient(45deg, rgba(252, 146, 209, 0.7), rgba(252, 146, 209, 0.7));
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.carousel-text a:hover {
  color: #fff;
}

.overlay1 {
  background-color: rgba(252, 146, 209, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay2 {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.categorias {
  background-color: rgba(252, 146, 209, 0.3);
  padding-top: 2vh;
  padding-bottom: 1vh;
  align-items: center;
  justify-content: center;
}

.categorias a {
  text-decoration: none;
}

.cat-img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
  padding-top: 1vh;
}

.cat-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.categoria {
  background-color: rgba(252, 146, 209);
  border-radius: 5px;
  display: flex;
  margin: 1.8vh;
}

.cat .categoria p {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  padding: 1vh;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.categoria:hover {
  background-color: rgba(232, 126, 189);
  color: lightgray;
  transition: 0.15s;
}

@media (max-width: 768px) {
  .cat .categoria p {
    font-size: 0.8rem;
  }
}