.producto .btn-custom {
  color: #fff;
  background-color: rgb(252, 146, 209);
  border-color: rgb(252, 146, 209);
}

.producto .btn-custom:hover {
  color: #fff;
  background-color: rgb(227, 109, 178);
  border-color: rgb(227, 109, 178);
}

.producto a {
  text-decoration: none;
}

.producto .espacio {
  padding-top: 0;
}

.otros h2 {
  color: rgb(227, 109, 178)
}

.producto svg:hover {
  color: lightgray;
  transition: 0.1s;
}

.simb {
  margin-left: 2.5vh;
  margin-right: 2.5vh;
  margin-top: 1vh;
}

.img-wrapper {
  overflow: hidden;
}

.img-pr {
  border-radius: 3px;
}

.otros .img-container {
  margin-left: 3vh;
  margin-right: 3vh;
  border-radius: 2px;
}

.form-control-color {
  margin-right: 2vh;
}

.fw-lighter {
  color: rgb(227, 109, 178);
}

.fw-lighter:hover {
  color: rgb(207, 99, 158);
  transition: 0.15s;
}

.img-icons {
  padding: 1vh;
  height: 20vh;
  border-radius: 20px;
}

.img-icons:hover {
  background-color: lightgray;
  border-radius: 20px;
  transition: 0.5s;
}