.producto .btn-custom {
    
    color: #fff; /* Color del texto */
    background-color: rgb(252,146,209); /* Color de fondo personalizado */
    border-color: rgb(252,146,209); /* Color del borde */
  }
  
  .producto .btn-custom:hover {
    color: #fff;
    background-color: rgb(227, 109, 178); /* Cambia el color de fondo al pasar el ratón */
    border-color: rgb(227, 109, 178); /* Cambia el color del borde al pasar el ratón */
  }

  .producto a{
    text-decoration: none;
  }

  .otros h2 {
    color: rgb(227, 109, 178)
  }

  .img-wrapper{
    overflow:hidden;
  }

  .img-pr {
    border-radius: 3px;
  }
  
  .otros .img-container{
    margin-left: 3vh;
    margin-right: 3vh;
    border-radius: 2px;
  }

  .form-control-color {
    margin-right: 2vh;
  }