.productos {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.titulo-productos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}

.productos .btncont {
  padding-left: 5vh;
  padding-right: 5vh;
}

.productos .btn-custom {

  color: #fff;
  background-color: rgb(252, 146, 209);
  border-color: rgb(252, 146, 209);
}

.productos .btn-custom:hover {
  color: #fff;
  background-color: rgb(227, 109, 178);
  border-color: rgb(227, 109, 178);
}

.nombre p {
  font-size: 0.8rem !important;
  color: #000;
}

.modal-image {
  max-width: 100%;
  height: auto;
}